<p><strong>Estadisticas:</strong></p>
<p> Numero de preguntas: <%= preguntas %></p>
<p> Numero de comentarios: <%= comentarios %></p>
<p> Numero medio de comentarios por pregunta: <%= media %></p>
<p> Numero de preguntas sin comentarios: <%= sinComments %></p>
<p> Numero de preguntas con comentarios: <%= conComments %></p>